@import '../../vendor/fonts';

.lists {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: #000;
  display: block;
  transition: opacity .3s ease;
}
.link:hover {
  opacity: .5;
}
.btn {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
  z-index: 1;
}

.body {
  margin: 0;
  font-family: 'Lato', Tahoma, sans-serif;
  background-color: rgb(241, 245, 249);
  position: relative;
}
