@mixin flex($direction: false, $justify: false, $align: false, $gap: false) {
  display: flex;

  @if $direction {
    flex-direction: $direction;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
  @if $gap {
    gap: $gap;
  }
}
@mixin font($size: false, $weight: false, $line-height: false) {
  @if $size {
    font-size: $size;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $line-height {
    line-height: $line-height;
  }
}

$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
